.image-title {
  background: rgba($color-bg-dark, 0.75);
  position: absolute;
  left: -160px;
  top: 160px;
  width: 400px;
  height: 80px;
  line-height: 45px;
  font-weight: $font-weight-normal;
  letter-spacing: 2px;
  transform: rotate(90deg);
}

.image-title a {
  display: block;
  color: $color-text-light;
  text-decoration: none;
  padding: 20px;
  font-size: $font-base;
}
