.image_title {
    background: rgba($dark-color, 0.75);
    position: absolute;
    left: -160px;
    top: 160px;
    width: 400px;
    height: 80px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 2px;
    transform: rotate(90deg);
}

.image_title a {
  display: block;
  color: $light-color;
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}