.next-section {
  position: absolute;
  right: -5px;

  @include rwd(small) {
    right: 20px;
  }

  bottom: 123px;
  transform: rotate(-90deg);
  z-index: 1;
  padding-left: 32px;

  a {
    display: block;
    color: $color-text-light;
    text-transform: uppercase;
    font-size: $font-small;
    letter-spacing: 0.2em;
    font-weight: $font-weight-light;
    position: relative;
    text-decoration: none;

    &::after {
      content: "";
      background: $color-blue;
      width: 0;
      height: 6px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 10%;
      z-index: -1;
      transition: width 0.3s;
    }
  }
}

.next-section:hover a::after {
  width: 100%;
}
