.skills {
  &__list {
    position: relative;
    list-style: none;
    padding: 0;
    font-size: 125%;
    text-transform: uppercase;
    color: $color-text-dark;
    width: 400px;
    height: 280px;
    margin: -30px auto 0;
    overflow: hidden;

    @media (max-width: 360px) {
      font-size: 110%;
    }

    @media (min-width: 361px) and (max-width: 420px) {
      font-size: 115%;
    }

    @include rwd(small) {
      width: 610px;
      height: 400px;
      font-size: 100%;
    }

    li {
      position: absolute;
      top: 0;
      left: 0;
      text-shadow: 0.5px 0.5px 0 rgba($color-text-dark, 0.15), 0.5px 0.5px 0 rgba($color-text-dark, 0.25);
    }
  }
}

.html5 {
  font-weight: $font-weight-bold;
  letter-spacing: -0.05em;
  transform:
    scale(6.5, 7)
    translate(1.4em, 0.68em);
}

.javascript {
  letter-spacing: -0.04em;
  font-weight: $font-weight-normal;
  transform:
    scale(1.4)
    rotate(90deg)
    translate(4.5em, -14.3em);
}

.accessibility {
  letter-spacing: -0.05em;
  font-weight: $font-weight-light;
  transform:
    scale(1.4, 1.33)
    rotate(90deg)
    translate(4.1em, -18em);
}

.responsive {
  font-weight: $font-weight-light;
  letter-spacing: -0.03em;
  word-spacing: 0.3em;
  transform:
    scale(2.15)
    translate(2.75em, 4.15em);
}

.usability {
  font-weight: $font-weight-normal;
  letter-spacing: -0.04em;
  transform:
    scale(2.85, 3)
    translate(7.5em, 3.9em);
}

.ajax {
  letter-spacing: -0.01em;
  font-weight: $font-weight-bold;
  transform:
    scale(2.4, 2.3)
    rotate(90deg)
    translate(5.65em, -5.75em);
  transform:
    scale(1.8, 1.8)
    rotate(90deg)
    translate(7.25em, -8em);
  transform:
    scale(1.8, 1.8)
    rotate(90deg)
    translate(7.25em, -8em);
}

.css3 {
  letter-spacing: -0.05em;
  font-weight: $font-weight-bold;
  transform:
    scale(6.8, 6.75)
    rotate(90deg)
    translate(1.35em, -5em);
  transform:
    scale(5.8, 6.2)
    rotate(90deg)
    translate(1.55em, -5.95em);
  transform:
    scale(5.8, 6.2)
    rotate(90deg)
    translate(1.55em, -5.95em);
}

.jquery {
  letter-spacing: 0.045em;
  font-weight: $font-weight-bold;
  transform:
    scale(3.88, 3.8)
    translate(5.62em, 3.9em);
}

.object-oriented {
  font-weight: $font-weight-bold;
  letter-spacing: -0.01em;
  transform:
    scale(1.85, 1.9)
    translate(1.75em, 6.15em);
}

.wordpress {
  font-weight: $font-weight-light;
  letter-spacing: -0.05em;
  transform:
    scale(2.75, 3)
    translate(1.85em, 5.75em);
}

.seo {
  font-weight: $font-weight-light;
  letter-spacing: -0.07em;
  transform:
    scale(3.9, 4)
    translate(6.9em, 0.9em);
}

.cross-browser {
  font-weight: $font-weight-light;
  letter-spacing: 0.13em;
  word-spacing: 0.2em;
  transform:
    scale(2)
    translate(1.75em, 7.2em);
}

.web-standards {
  font-weight: $font-weight-light;
  letter-spacing: 0;
  word-spacing: -0.2em;
  transform:
    scale(2)
    translate(12.7em, 8.8em);
}

.jg {
  color: $color-pink;
  font-weight: $font-weight-bold;
  letter-spacing: -0.03em;
  transform:
    scale(4.35)
    translate(6.2em, 1.8em);
}

.skill {
  color: $color-blue;
  font-weight: $font-weight-bold;
  letter-spacing: -0.03em;
  transform:
    scale(1.8)
    translate(9.5em, 9.85em);
}

@include rwdmax(tablet) {
  .html5 {
    transform:
      scale(3.5, 3.5)
      translate(1.3em, 0.68em);
  }

  .javascript {
    transform:
      scale(0.7)
      rotate(90deg)
      translate(4.5em, -13em);
  }

  .accessibility {
    transform:
      scale(0.7, 0.66)
      rotate(90deg)
      translate(4.1em, -18em);
  }

  .responsive {
    transform:
      scale(1.07)
      translate(1em, 4.15em);
  }

  .usability {
    transform:
      scale(1.42, 1.5)
      translate(7.15em, 3.9em);
  }

  .ajax {
    transform:
      scale(1.2, 1.2)
      rotate(90deg)
      translate(5.5em, -5.8em);
  }

  .css3 {
    transform:
      scale(3.4, 3.37)
      rotate(90deg)
      translate(1.35em, -5.1em);
  }

  .jquery {
    transform:
      scale(1.94, 1.9)
      translate(5.62em, 3.9em);
  }

  .object-oriented {
    transform:
      scale(0.92, 0.95)
      translate(0.5em, 6.15em);
  }

  .wordpress {
    transform:
      scale(1.37, 1.5)
      translate(1.35em, 5.75em);
  }

  .seo {
    transform:
      scale(1.95, 2)
      translate(6.9em, 0.9em);
  }

  .cross-browser {
    transform:
      scale(1)
      translate(0.75em, 7.2em);
  }

  .web-standards {
    transform:
      scale(1)
      translate(11.7em, 8.8em);
  }

  .jg {
    transform:
      scale(2.17)
      translate(6.2em, 1.8em);
  }

  .skill {
    transform:
      scale(0.9)
      translate(9.5em, 9.85em);
  }
}
