.socials {
  display: flex;
  align-items: center;

  &__icon {
    fill: $color-text-light;
    padding: 0 5px;
    width: 1.5em;
    height: 1.5em;
  }
}

.social-link {
  display: flex;
  align-items: baseline;
}

.social-link span {
  padding: 0 5px 0 0;
  font-weight: bold;
}

.social-link__icon {
  fill: $color-text-dark;
  padding: 0 5px;
  width: 1em;
  height: 1em;
}
