## General
.cvs
.htaccess
.svn
*.bak
*.swp
*.txt
.idea
.history
.vscode

## Windows
Desktop.ini
Thumbs.db

## Mac
.DS_Store

## Development
.sass-cache
node_modules

public/css/
public/fonts/
public/js/
public/img/

src/js/temp/
src/fonts/iconfont.svg
