{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": [
    "stylelint-scss",
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/percent-placeholder-pattern": null,
    "plugin/selector-bem-pattern": {
      "componentName": "[A-Z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+)?$",
        "combined": "^\\.combined-{componentName}-[a-z]+$"
      },
      "utilitySelectors": "^\\.util-[a-z]+$"
    },
    "max-nesting-depth": [ 5, {
      ignore: ["blockless-at-rules"],
      ignoreAtRules: ["/^include/", "media"]
    }],
    "selector-max-id": 0,
    "shorthand-property-no-redundant-values": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "no-unknown-animations": true,
    "function-url-scheme-disallowed-list": ["ftp", "/^http/"],
    "selector-max-class": 3,
    "selector-max-universal": 0,
    "selector-max-type": [ 1, {
      ignore: ["child", "compounded", "descendant", "next-sibling"]
    }],
    "block-no-empty": null,
    "color-function-notation": "legacy",
    "color-named": "never"
  }
}
