$color-text-base: #fafafa;
$color-text-dark: #000;
$color-bg-dark: #000;
$color-text-light: #fff;
$color-bg-light: #fff;
$color-subtext: #8d8d8d;
$color-blue: rgba(94, 199, 235, 65%);
$color-blue-light: #5ec7eb;
$color-pink: rgba(253, 123, 175, 100%);
$color-pink-dark: rgba(255, 0, 125, 50%);
$color-grey: rgba(50, 50, 50, 30%);
$shadow: rgba(0, 0, 0, 50%);
