$color-text-base: #fafafa;
$color-text-dark: #000000;
$color-bg-dark: #000000;
$color-text-light: #ffffff;
$color-bg-light: #ffffff;
$color-subtext: #8d8d8d;
$color-blue: rgba(94, 199, 235, 0.65);
$color-blue-light: #5ec7eb;
$color-pink: rgba(253, 123, 175, 1.0);
$color-pink-dark: rgba(255, 0, 125, 0.5);
$color-grey: rgba(50, 50, 50, 0.3);
$shadow: rgba(0,0,0,0.5);
