$text-dark-color: #fafafa;
$text-light-color: #000000;
$dark-color: #000000;
$light-color: #ffffff;
$subtext: #8d8d8d;
$blue: rgba(94, 199, 235, 0.65);
$pink: rgba(253, 123, 175, 1.0);
$pink-dark: rgba(255, 0, 125, 0.5);
$grey: rgba(50, 50, 50, 0.3);
$shadow: rgba(0,0,0,0.5);
$color-link: $pink-dark;
$color-text: $text-dark-color;