/*
a
a:hover
 */

a {
  color: $color-pink-dark;

  &:visited {
    color: $color-pink-dark;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-text-base;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
