.accordion {;
  height: 400px;
  margin-bottom: 100px;
  float: right;
  @include rwdmax(small) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  ul {
    width: 2000px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;

    &:hover li{
      width: 50px;
    }

    li {
      position: relative;
      display: block;
      @include rwd(small) { 
        width: 75px;
      }
      width: 50px;
      float: left;
      
      box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
      -webkit-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
      
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      
      img {
        display: block;
        height: 398px;
      }
      
      &:hover {
        width: 300px;
        @include rwd(small) { 
          width: 600px;
        }
      }
    }
  }

  &__item-title {
    background: rgba(0,0,0,0.75);
    position: absolute;
    left: -175px;
    top: 175px;
    height: 50px;
    line-height: 8px;
    @include rwd(small) {
      left: -160px;
      top: 160px;
      height: 80px;
      line-height: 45px;
    }
    width: 400px;
    font-weight: 400;
    letter-spacing: 2px;
    transform: rotate(90deg);
 
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 20px;
      font-size: 16px;
    }
  }


  &-introducing {
    display: inline-block;

    .partners {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @include rwdmax(small) {
        margin-bottom: 20px;
      }

      img {
        padding: 10px;
        /* filter: brightness(100); */
      }
    }
  }
}


