.next-section {
    position: absolute;
    right: -5px;
    @include rwd(small) {
        right: 20px;
    }
    bottom: 123px;
    transform: rotate(-90deg);
    z-index: 1;
    padding-left: 32px;

    a {
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.2em;
        font-weight: 300;
        position: relative;
      	text-decoration: none;
    
        &:before {
            content: '\e900';
            position: absolute;
            bottom: -5px;
            left: -20px;
            font-family: icomoon;
            font-size: 20px;
            color: #b1acac;
            -webkit-animation: secdownmoving 1000ms linear 0s infinite;
            -o-animation: secdownmoving 1000ms linear 0s infinite;
            animation: secdownmoving 1000ms linear 0s infinite;
        }

        &:after {
            content: '';
            /* background: rgba(255, 0, 125, 0.5); */
            background: rgba(94, 199, 235, 0.65);
            width: 0;
            height: 6px;
            display: block;
            position: absolute;
            bottom: 0;
            left: 10%;
            z-index: -1;
            transition: width .3s;
        }
    }

}

.next-section:hover a:after {
    width: 100%;
}
