@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400&subset=latin-ext');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3oynkq');
  src:  url('../fonts/icomoon.eot?3oynkq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3oynkq') format('truetype'),
    url('../fonts/icomoon.woff?3oynkq') format('woff'),
    url('../fonts/icomoon.svg?3oynkq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon, a {
	color: initial;
	text-transform: none;
	text-decoration: none;
}

.icon-mail:before {
  content: "\e901";
}
.icon-angle-left:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eaca";
}

body {
    background: #000;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fafafa;
    min-height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

header {
	width: 100%;
	height: 100vh;
}

section {
	position: relative;
}

section.light {
	background: #fff;
	margin-top: -25px;
}

section.dark {
	background: #000;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 1140px;
}

#menuButton {
    position: fixed;
    top: 50px;
    right: 40px;
    z-index: 4;
    width: 65px;
    overflow: hidden;
    cursor: pointer;
    margin-top: -10px;
    padding: 10px 0;
    padding-right: 10px;
}

#menuButton span {
    display: block;
    height: 1px;
    width: 100%;
    background: #ffffff;
    margin-top: 6px;
    float: right;
    clear: both;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

#menuButton span:first-child {
    margin-top: 0;
}
#menuButton span:nth-of-type(2) {
    width: 35.38%;
}
#menuButton span:nth-of-type(3) {
    width: 81.53%;
}
#menuButton span:nth-of-type(4) {
    width: 63.07%;
}

#menuButton:hover span {
    width: 63.07%;
}

.logo {
    width: 350px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
    position: absolute;
}

.logo__image {
	background: url('../img/ajotka_logo_balck.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    z-index: -1;
}

.logo__name {
	font-size: 2.8125em;
    letter-spacing: 5px;
    margin-top: -15px;
    margin-bottom: 13px;
    color: #ffffff;
    font-weight: 100;
    text-shadow: #000 0 1px 1px, #000 0 -1px 1px;
    text-align: center;
}

.logo__subname {
	color: #8d8d8d;
    margin-top: 9px;
    font-weight: normal;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

.white_svg {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    overflow: hidden;
}

.white_svg svg {
	fill: #fff;
}

.next-section {
    position: absolute;
    right: 20px;
    bottom: 123px;
    transform: rotate(-90deg);
    z-index: 1;
    padding-left: 32px;
}

.next-section a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.2em;
    font-weight: 300;
    position: relative;
  	text-decoration: none;
}

.next-section a:after {
    content: '';
    /* background: rgba(255, 0, 125, 0.5); */
    background: rgba(94, 199, 235, 0.65);
    width: 0;
    height: 6px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: -1;
    transition: width .3s;
}

.next-section:hover a:after {
    width: 100%;
}

.next-section a:before {
    content: '\e900';
    position: absolute;
    bottom: -5px;
    left: -20px;
    font-family: icomoon;
    font-size: 20px;
    color: #b1acac;
    -webkit-animation: secdownmoving 1000ms linear 0s infinite;
    -o-animation: secdownmoving 1000ms linear 0s infinite;
    animation: secdownmoving 1000ms linear 0s infinite;
}

#menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 10;
    background: #000000;
    transition: opacity .5s ease-out;
}

#menu .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#menu .inner img {
    display: block;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 250px;
    height: auto;
}

#menu .inner .close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

#menu .inner nav {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    width: 100%;
}

#menu .inner nav div a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2.5em;
    line-height: 180%;
    text-decoration: none;
    position: relative;
    color: rgba(255,255,255,0.6);
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}

#menu .inner nav div a.current {
    color: #ffffff;
    cursor: pointer;
}

#menu .inner nav div a:hover:before, #menu .inner nav div a:hover:after {
    width: 50px;
}

#menu .inner nav div a:before {
    right: 100%;
    margin-right: 20px;
}

#menu .inner nav div a:after {
    left: 100%;
    margin-left: 20px;
}

#menu .inner nav div a:before, #menu .inner nav div a:after {
    content: '';
    width: 0px;
    height: 1px;
    background: #5ec7eb;
    position: absolute;
    top: 50%;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

#menu .inner .close:before, #menu .inner .close:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ffffff;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -1px;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

#menu .inner .close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menu .inner .close:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menu .inner .close:hover:before, 
#menu .inner .close:hover:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.about-area {
	background: #fff;
    padding: 100px 0px 50px;
    color: #000;
}

.align-items-center {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    padding-right: 15px;
    padding-left: 15px;
}

.abt-left-thumb {
	width: 29%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 21px rgba(0,0,0,0.3);
    background-color: #000;
}

.abt-left-thumb:before {
    content: '';
    position: absolute;
    right: -45px;
    bottom: -45px;
    border: 2px dotted rgba(50, 50, 50, 0.3);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.abt-left-thumb img {
    overflow: hidden;
    max-width: 100%;
    margin-bottom: -4px;
}

.abt-content {
	width: 55%;
	margin-left: 16%;
}

.section-title {
	width: fit-content;
}

.light .heading {
	color: #000000;
}

.heading {
	position: relative;
	text-transform: uppercase;
	z-index: 0;
	font-size: 30px;
	width: -moz-fit-content;
}

.heading.dark:after {
	background: rgb(253, 123, 175, 1.0);
}

.heading:after {
    content: '';
    background: rgba(94, 199, 235, 0.65);
    width: 100%;
    height: 10px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: -1;
}

.heading.portfolio {
	position: absolute;
    right: 25%;
    top: 90px;
    font-weight: 700;
    letter-spacing: 2px;
}

.roles {
    height: 30px;
    vertical-align: middle;
    overflow: hidden;
}

.roles div {
    height: 30px;
    transition: margin-top 1s ease-in-out;
}

.roles div span {
	position: relative;
	z-index: 0;
}

.roles div span:after {
    content: '';
    background: rgba(255, 0, 125, 0.5);
    width: 70px;
    height: 7px;
    display: block;
    position: absolute;
    bottom: 2px;
    left: 10px;
    z-index: -1;
}

.accordion-introducing {
    width: 22%;
    margin-left: 9%;
    display: inline-block;
    padding: 0 3%;
}

.accordion-introducing .partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

.accordion-introducing .partners img {
    padding: 10px;
    /* filter: brightness(100); */
}

.accordion {
	width: 63%;
	height: 400px;
	overflow: hidden;
	margin-bottom: 100px;
	float: right;
}

/* Hack to prevent flickering on some browsers*/
.accordion ul{
 	width: 2000px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 0px;
}

.accordion li {
  position: relative;
  display: block;
   width: 75px;
  float: left;
  
  box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.accordion ul:hover li{
  width: 50px;
}

.accordion ul li:hover {
  width: 600px;
}

.accordion li img{
  display: block;
}

.image_title{
    background: rgba(0,0,0,0.75);
    position: absolute;
    left: -160px;
    top: 160px;
    width: 400px;
    height: 80px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 2px;
    transform: rotate(90deg);
}

.image_title a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}

section.separate {
  z-index: 1;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.diagonalseparator {
	width: 100%;
    position: relative;
    margin-top: 155px;
    padding: 20px;
    background: transparent;
}

.diagonalseparator::before {
  content: '';
  position: absolute;
  pointer-events: none;
  top: -370%;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 335%;
  background: #fff;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.flip {
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}



#techList {
	position: relative;
	list-style: none;
	padding: 0;
	font-size: 100%;
	text-transform: uppercase;
	color: #000;
	width: 600px;
	height: 400px;
	margin: -30px auto 0;
}

@media (max-width: 600px) {
	#techList {
		width: 100%;
	}
}

#techList li {
  position: absolute;
  top: 0;
  left: 0;
      text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0.5px 0.5px 0px rgba(0, 0, 0, 0.25);
}

.html5 {
  font-weight: 700;
  letter-spacing: -.05em;
  -webkit-transform: scale(7, 7)
  		translate(1.3em, .68em);
  -moz-transform: scale(7, 7)
  		translate(1.3em, .68em);
}

.javascript {
  letter-spacing: -.04em;
  font-weight: 400;
	-webkit-transform: scale(1.4)
    	rotate(90deg)
    	translate(4.5em, -14.3em);
  -moz-transform: scale(1.4)
    	rotate(90deg)
    	translate(4.5em, -14.3em);
}

.accessibility {
  letter-spacing: -.05em;
  font-weight: 300;
	-webkit-transform:
    	scale(1.4, 1.33)
    	rotate(90deg)
    	translate(4.1em, -18.0em);
  -moz-transform: 
    	scale(1.4, 1.33)
    	rotate(90deg)
    	translate(4.1em, -18.0em);
}

.responsive {
  font-weight: 300;
  letter-spacing: -.03em;
  word-spacing: .3em;
  -webkit-transform: scale(2.15)
    	translate(2.75em, 4.15em);
  -moz-transform: scale(2.15)
    	translate(2.75em, 4.15em);
}

.usability {
  font-weight: 400;
  letter-spacing: -.04em;
  -webkit-transform: scale(2.85, 3)
          translate(7.5em, 3.9em);
  -moz-transform: scale(2.85, 3)
          translate(7.5em, 3.9em);
}

.ajax {
  letter-spacing: -0.01em;
  font-weight: 700;
	-webkit-transform: scale(2.4, 2.3)
	    rotate(90deg)
        translate(5.65em, -5.75em);
  -moz-transform: scale(2.4, 2.3)
	    rotate(90deg)
        translate(5.65em, -5.75em);
}

.css3 {
  letter-spacing: -.05em;
  font-weight: 700;
  -webkit-transform: scale(6.8, 6.75) 
    rotate(90deg) 
    translate(1.35em, -5em);
  -moz-transform:  scale(6.8, 6.75) 
    rotate(90deg) 
    translate(1.35em, -5em);
}

.jquery {
  letter-spacing: 0.045em;
  font-weight: 700;
	-webkit-transform: scale(3.88, 3.8)
        translate(5.62em, 3.9em);
  -moz-transform: scale(3.88, 3.8)
        translate(5.62em, 3.9em);
}

.objectoriented {
  font-weight: 700;
  letter-spacing: -.010em;
  -webkit-transform: scale(1.85, 1.9)
          translate(1.75em, 6.15em);
  -moz-transform: scale(1.85, 1.9)
          translate(1.75em, 6.15em);
}

.wordpress {
  font-weight: 300;
  letter-spacing: -0.05em;
  -webkit-transform: scale(2.75, 3)
        translate(1.85em, 5.75em);
  -moz-transform: scale(2.75, 3)
        translate(1.85em, 5.75em);
}

.seo {
  font-weight: 300;
  letter-spacing: -0.07em;
  -webkit-transform: scale(3.9, 4)
      translate(6.9em, .9em);
  -moz-transform: scale(3.9, 4)
      translate(6.9em, .9em);
}

.crossbrowser {
  font-weight: 200;
  letter-spacing: 0.13em;
  word-spacing: .2em;
  -webkit-transform: scale(2) 
  	translate(1.75em, 7.2em);
  -moz-transform: scale(2) 
  	translate(1.75em, 7.2em);
}

.webstandards {
    font-weight: 300;
    letter-spacing: 0em;
    word-spacing: -.2em;
    -webkit-transform: scale(2) 
    	translate(12.7em, 8.8em);
    -moz-transform: scale(2) 
    	translate(12.7em, 8.8em);
}

.jg {
	color: rgb(253, 123, 175, 1.0);
	font-weight: 700;
	letter-spacing: -.03em;
	-webkit-transform: scale(4.35) 
		translate(6.2em, 1.8em);
	-moz-transform: scale(4.35) 
		translate(6.2em, 1.8em);
}

.skill {
  color: rgba(94, 199, 235, 0.65);
  font-weight: 700;
  letter-spacing: -.03em;
  -webkit-transform: scale(1.8)
          translate(9.5em, 9.85em);
  -moz-transform: scale(1.8)
          translate(9.5em, 9.85em);
}

.skills .section-title {
	margin: 0 20%;
}

footer {
	position: relative;
    padding: 15px;
}

footer:before {
    content: '';
    width: 30%;
    height: 50px;
    border-top: 2px dotted #000;
    position: absolute;
    left: 0;
    bottom: 18px;
    transform: rotate(5deg);
}

footer .container {
	justify-content: space-between;
    width: 100%;
    display: flex;
}

.socials {
	display: flex;
    align-items: center;
}

.socials .icon {
    color: #fff;
    padding: 0 5px;
}

.socials .icon-mail {
    font-size: 25px;
}

.social-link {
	display: flex;
    align-items: baseline;
}

.social-link h5 {
	padding: 0 5px 0 0;
}

.social-link .icon {
    padding: 0 5px;
    font-size: small;
}

@media (max-width: 760px) {
	.sm-12 {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: 0;
		margin-right: 0;
	}

	.sm-10 {
		width: 83%;
		margin-left: 0;
		margin-right: 0;
	}

	.abt-content {
		margin-top: 50px;
	}

	.accordion li {
		width: 55px;
	}

	.accordion ul li:hover {
	  width: 100%;
	}

	.section-title {
		margin: 0 !important;
		padding: 0 15px;
	}

	.diagonalseparator {
	    margin-top: 110px;
	    padding: 40px;
	}

	.html5 {
	  -webkit-transform: scale(3.5, 3.5)
	  		translate(1.3em, .68em);
	  -moz-transform: scale(3.5, 3.5)
	  		translate(1.3em, .68em);
	}

	.javascript {
		-webkit-transform: scale(0.7)
	    	rotate(90deg)
	    	translate(4.5em, -14.3em);
	  -moz-transform: scale(0.7)
	    	rotate(90deg)
	    	translate(4.5em, -14.3em);
	}

	.accessibility {
		-webkit-transform:
	    	scale(0.7, 0.66)
	    	rotate(90deg)
	    	translate(4.1em, -18.0em);
	  -moz-transform: 
	    	scale(0.7, 0.66)
	    	rotate(90deg)
	    	translate(4.1em, -18.0em);
	}

	.responsive {
	  -webkit-transform: scale(1.07)
	    	translate(2.75em, 4.15em);
	  -moz-transform: scale(1.07)
	    	translate(2.75em, 4.15em);
	}

	.usability {
	  -webkit-transform: scale(1.42, 1.5)
	          translate(7.5em, 3.9em);
	  -moz-transform: scale(1.42, 1.5)
	          translate(7.5em, 3.9em);
	}

	.ajax {
		-webkit-transform: scale(1.2, 1.65)
		    rotate(90deg)
	        translate(5.65em, -5.75em);
	  -moz-transform: scale(1.2, 1.65)
		    rotate(90deg)
	        translate(5.65em, -5.75em);
	}

	.css3 {
	  -webkit-transform: scale(3.4, 3.37) 
	    rotate(90deg) 
	    translate(1.35em, -5em);
	  -moz-transform:  scale(3.4, 3.37) 
	    rotate(90deg) 
	    translate(1.35em, -5em);
	}

	.jquery {
		-webkit-transform: scale(1.94, 1.9)
	        translate(5.62em, 3.9em);
	  -moz-transform: scale(1.94, 1.9)
	        translate(5.62em, 3.9em);
	}

	.objectoriented {
	  -webkit-transform: scale(0.92, 0.95)
	          translate(1.75em, 6.15em);
	  -moz-transform: scale(0.92, 0.95)
	          translate(1.75em, 6.15em);
	}

	.wordpress {
	  -webkit-transform: scale(1.37, 1.5)
	        translate(1.85em, 5.75em);
	  -moz-transform: scale(1.37, 1.5)
	        translate(1.85em, 5.75em);
	}

	.seo {
	  -webkit-transform: scale(1.95, 2)
	      translate(6.9em, .9em);
	  -moz-transform: scale(1.95, 2)
	      translate(6.9em, .9em);
	}

	.crossbrowser {
	  -webkit-transform: scale(1) 
	  	translate(1.75em, 7.2em);
	  -moz-transform: scale(1) 
	  	translate(1.75em, 7.2em);
	}

	.webstandards {
	    -webkit-transform: scale(1) 
	    	translate(12.7em, 8.8em);
	    -moz-transform: scale(1) 
	    	translate(12.7em, 8.8em);
	}

	.jg {
		-webkit-transform: scale(2.17) 
			translate(6.2em, 1.8em);
		-moz-transform: scale(2.17) 
			translate(6.2em, 1.8em);
	}

	.skill {
	  -webkit-transform: scale(0.9)
	          translate(9.5em, 9.85em);
	  -moz-transform: scale(0.9)
	          translate(9.5em, 9.85em);
	}
}