@mixin container() {
  box-sizing: border-box;
  padding-left: $spacer-small;
  padding-right: $spacer-small;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

  @include rwd(desktop) {
    padding-left: $spacer-xxlarge;
    padding-right: $spacer-xxlarge;
    max-width: $content-width;
  }
}

.container,
%container {
  @include container;

  &--wide {
    @include rwd(desktop) {
      max-width: $content-width-wide;
    }
  }

  &--full {
    @include rwd(desktop) {
      max-width: $content-width-full;
    }

    padding-left: 0;
    padding-right: 0;
  }
}

.row,
%row {
  display: grid;
  grid-column-gap: $spacer-xsmall;
  row-gap: 0;
  column-gap: $spacer-xsmall;

  @include rwd(desktop) {
    @for $i from 1 through $columns {
      &.columns-#{$i},
      %columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  @include rwdmax(desktop) {
    @for $i from 1 through $columns {
      &.columns-tablet-#{$i},
      %columns-tablet-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  @include rwdmax(tablet) {
    @for $i from 1 through $columns {
      &.columns-mobile-#{$i},
      %columns-mobile-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }

  @extend %column-gap;
}

@for $i from -1 through $columns {
  .grid-column-start-#{$i} {
    @include rwd(tablet) {
      grid-column-start: $i;
    }
  }

  .grid-column-end-#{$i} {
    @include rwd(tablet) {
      grid-column-end: $i;
    }
  }
}
